@import '../../../styles/settings.scss';

.root {
  margin: $base-size 0;

  .paper {
    padding: $base-size;
  }

  .form {
    max-width: 600px;
  }

  .photo {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 541px;
    object-fit: contain;
  }

  .fadeIn {
    animation: fadeIn 3s;
  }
}

