@import '../../../styles/settings.scss';

.root {
  padding: $base-size 0;

  .paper {
    padding: $base-size;
    height: 100%;
  }

  .photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .fab {
    position: fixed;
    bottom: 6vw;
    right: 6vw;
  }
}
